<form class="row">
  <div class="col-6">
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Username">
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Username2">
    </mat-form-field>
  </div>
  <div class="col-12">
    <button mat-raised-button type="submit" class="btn btn-primary" (click)="onBack()">ย้อนกลับ</button>
    <button mat-raised-button type="submit" class="btn btn-danger">บันทึก</button>
  </div>
</form>