<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Recipe</h4>
            <p class="card-category">เมนูอาหาร</p>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <app-recipe-search-form></app-recipe-search-form>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-recipe-form [data]="selectedItem" (onSubmit)="onSubmit($event)"
          (onRemove)="onRemove($event)"></app-recipe-form>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <button mat-raised-button type="submit" class="btn btn-warning" (click)="onClickAdd()">เพิ่ม Recipe</button>
            <app-recipe-list [listData]="getAllRecipe()" (onSelectedItem)="onSelectedItem($event)"></app-recipe-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>