<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title">Add new Recipe</h4>
    <p class="card-category">เพิ่มเมนูอาหาร</p>
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()" class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput type="number" placeholder="Amount" formControlName="amount">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let item of getRecipeStatus()" [value]="item.key">{{item.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <button mat-raised-button type="submit" class="btn btn-danger">บันทึก</button>
      </div>
    </form>
  </div>
</div>