<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Table</h4>
            <p class="card-category">Search table</p>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <app-search-table-form (onSearch)="onGetTable($event)"></app-search-table-form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <button mat-raised-button type="submit" class="btn btn-warning" (click)="onClickAddTable()">
                Add new Table
              </button>
              <app-manage-table-list [data]="tableList"
                (onSelectedItem)="onSelectedItem($event)"></app-manage-table-list>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-table-form [data]="selectedItem" (onSubmit)="onSubmitForm($event)"
          (onRemove)="onRemove($event)"></app-table-form>
      </div>
    </div>
  </div>
</div>