<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Table</h4>
            <p class="card-category">table management</p>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <app-search-table-form></app-search-table-form>
            </div>
            <div class="col-12 mt-2">
              <button mat-raised-button type="submit" class="btn btn-danger">ค้นหา</button>
            </div>
            <hr />
            <div class="col-12">
              <button mat-raised-button type="submit" class="btn btn-warning">เพิ่ม Table</button>
              <app-manage-table-list></app-manage-table-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>