<form [formGroup]="formGroup" (ngSubmit)="onClickSearch()" class="row">
  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-label>Select an table</mat-label>
      <mat-select formControlName="tableId">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let table of listTable" [value]="table.id">{{table.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option>
          None
        </mat-option>
        <mat-option *ngFor="let item of getOrderStatus()" [value]="item.key">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12">
    <button mat-raised-button type="submit" class="btn btn-danger">Search</button>
  </div>
</form>