<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">User</h4>
            <p class="card-category">Search user</p>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <app-user-search-form (onSearch)="onGetUser($event)"></app-user-search-form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <button mat-raised-button type="submit" class="btn btn-warning" (click)="onClickAddUser()">
                Add new User
              </button>
              <app-user-list [data]="userList" (onSelectedItem)="onSelectedItem($event)"></app-user-list>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-user-form [data]="selectedItem" (onSubmit)="onSubmitForm($event)"
          (onRemove)="onRemove($event)"></app-user-form>
      </div>
    </div>
  </div>
</div>