<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-danger">
          <h4 class="card-title mt-0"> Table on Plain Background</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Amount
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    ข้าวแกงกะหรี่ไก่
                  </td>
                  <td>
                    70
                  </td>
                  <td>
                    Available
                  </td>
                  <td>
                    <i class="material-icons cursor-pointer">edit</i>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>