<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <th>ID</th>
                <th>Table</th>
                <th class="text-right">Amount</th>
                <th class="text-right">Order count</th>
                <th>Status</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderList">
                  <td>{{item.id}}</td>
                  <td>{{item.Table.name}}</td>
                  <td class="text-right">{{item.totalAmount}}</td>
                  <td class="text-right">{{item.OrderItems?.length}}</td>
                  <td>{{getOrderStatus(item.status)}}</td>
                  <td>
                    <button mat-raised-button type="button" matTooltip="Edit Order" [matTooltipPosition]="'above'"
                      class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="onClickItem(item.id)">
                      <i class="material-icons">edit</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>