<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Order Food</h4>
            <p class="card-category">Customer food order</p>
          </div>
          <div class="card-body">
            <div class="col-12">
              <order-order-form [formGroup]="formGroup" (onAddRecipe)="addOrderItem()"
                (onRemoveOrderItem)="removeOrderItem($event)"></order-order-form>
            </div>
            <div class="col-12">
              <button mat-raised-button type="submit" class="btn btn-primary" (click)="onBack()">Previos Page</button>
              <button mat-raised-button type="submit" class="btn btn-danger" (click)="onSubmit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>